<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examonline.mapper.FSP_QuestionsMapper">
    <resultMap id="BaseResultMap" type="com.examonline.common.entity.FSP_Questions">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
        <result column="question_type" jdbcType="INTEGER" property="questionType"/>
        <result column="teacher_category_id" jdbcType="INTEGER" property="teacherCategoryId"/>
        <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate"/>
        <result column="descrpt" jdbcType="VARCHAR" property="descrpt"/>
        <result column="option_1" jdbcType="VARCHAR" property="option1"/>
        <result column="option_1_answer" jdbcType="VARCHAR" property="option1Answer"/>
        <result column="option_2" jdbcType="VARCHAR" property="option2"/>
        <result column="option_2_answer" jdbcType="VARCHAR" property="option2Answer"/>
        <result column="option_3" jdbcType="VARCHAR" property="option3"/>
        <result column="option_3_answer" jdbcType="VARCHAR" property="option3Answer"/>
        <result column="option_4" jdbcType="VARCHAR" property="option4"/>
        <result column="option_4_answer" jdbcType="VARCHAR" property="option4Answer"/>
        <result column="option_5" jdbcType="VARCHAR" property="option5"/>
        <result column="option_5_answer" jdbcType="VARCHAR" property="option5Answer"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <resultMap id="CResultMap" type="com.examonline.common.entity.Temp_FSP_Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <association property="fsp_questions" javaType="com.examonline.common.entity.FSP_Questions">
            <id column="aid" jdbcType="INTEGER" property="id"/>
            <result column="question" jdbcType="VARCHAR" property="question"/>
            <result column="question_type" jdbcType="INTEGER" property="questionType"/>
            <result column="teacher_category_id" jdbcType="INTEGER" property="teacherCategoryId"/>
            <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate"/>
            <result column="descrpt" jdbcType="VARCHAR" property="descrpt"/>
            <result column="option_1" jdbcType="VARCHAR" property="option1"/>
            <result column="option_1_answer" jdbcType="VARCHAR" property="option1Answer"/>
            <result column="option_2" jdbcType="VARCHAR" property="option2"/>
            <result column="option_2_answer" jdbcType="VARCHAR" property="option2Answer"/>
            <result column="option_3" jdbcType="VARCHAR" property="option3"/>
            <result column="option_3_answer" jdbcType="VARCHAR" property="option3Answer"/>
            <result column="option_4" jdbcType="VARCHAR" property="option4"/>
            <result column="option_4_answer" jdbcType="VARCHAR" property="option4Answer"/>
            <result column="option_5" jdbcType="VARCHAR" property="option5"/>
            <result column="option_5_answer" jdbcType="VARCHAR" property="option5Answer"/>
            <result column="state" jdbcType="INTEGER" property="state"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
        </association>
        <association property="teacher_category" javaType="com.examonline.common.entity.Teacher_Category">
            <id column="bid" jdbcType="INTEGER" property="id"/>
            <result column="teacher_category_name" jdbcType="VARCHAR" property="teacherCategoryName"/>
            <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        </association>
        <association property="courses" javaType="com.examonline.common.entity.Courses">
            <id column="cid" jdbcType="INTEGER" property="id"/>
            <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        </association>
    </resultMap>

    <select id="getTemp_FSP_Question" parameterType="java.lang.Integer" resultMap="CResultMap">
    SELECT a.id 'id',a.id 'aid', a.question, a.question_type, a.teacher_category_id, a.pubdate, a.descrpt, a.option_1, a.option_1_answer,
    a.option_2, a.option_2_answer, a.option_3, a.option_3_answer, a.option_4, a.option_4_answer,
    a.option_5, a.option_5_answer, a.state, a.user_id,
    b.id 'bid', b.teacher_category_name, b.course_id,
    c.id 'cid', c.course_name
    from fsp_questions as a,teacher_category AS b,courses AS c WHERE a.user_id=#{id}
		AND a.teacher_category_id = b.id
		AND b.course_id=c.id
  </select>

    <select id="getTemp_FSP_QuestionByFSP_QuestionsID" parameterType="java.lang.Integer" resultMap="CResultMap">
    SELECT a.id 'id',a.id 'aid', a.question, a.question_type, a.teacher_category_id, a.pubdate, a.descrpt, a.option_1, a.option_1_answer,
    a.option_2, a.option_2_answer, a.option_3, a.option_3_answer, a.option_4, a.option_4_answer,
    a.option_5, a.option_5_answer, a.state, a.user_id,
    b.id 'bid', b.teacher_category_name, b.course_id,
    c.id 'cid', c.course_name
    from fsp_questions as a,teacher_category AS b,courses AS c WHERE a.id = #{id}
		AND a.teacher_category_id = b.id
		AND b.course_id=c.id
  </select>

    <select id="getAllTemp_FSP_Question" resultMap="CResultMap">
        SELECT a.id 'id',a.id 'aid', a.question, a.question_type, a.teacher_category_id, a.pubdate, a.descrpt,
        a.option_1, a.option_1_answer,
        a.option_2, a.option_2_answer, a.option_3, a.option_3_answer, a.option_4, a.option_4_answer,
        a.option_5, a.option_5_answer, a.state, a.user_id,
        b.id 'bid', b.teacher_category_name, b.course_id,
        c.id 'cid', c.course_name
        from fsp_questions as a,teacher_category AS b,courses AS c
        <where>
            <if test="userId!=null">
                AND a.user_id=#{userId}
            </if>
            <if test="questionType==null and courseId==null and teacherCategoryID==null">
                AND a.teacher_category_id = b.id
                AND b.course_id=c.id
            </if>
            <if test="questionType!=null and courseId==null and teacherCategoryID==null">
                AND a.question_type=#{questionType}
                AND a.teacher_category_id = b.id
                AND b.course_id=c.id
            </if>
            <if test="questionType==null and courseId!=null and teacherCategoryID==null">
                AND c.id=#{courseId}
                AND c.id=b.course_id
                AND b.id=a.teacher_category_id
            </if>
            <if test="questionType==null and courseId!=null and teacherCategoryID!=null">
                AND a.teacher_category_id =#{teacherCategoryID}
                AND a.teacher_category_id = b.id
                AND b.course_id = c.id
            </if>
            <if test="questionType!=null and courseId!=null and teacherCategoryID!=null">
                AND a.question_type=4
                AND a.teacher_category_id =1
                AND a.teacher_category_id = b.id
                AND b.course_id = c.id
            </if>
        </where>
    </select>


    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, question, question_type, teacher_category_id, pubdate, descrpt, option_1, option_1_answer, 
    option_2, option_2_answer, option_3, option_3_answer, option_4, option_4_answer, 
    option_5, option_5_answer, state, user_id
  </sql>
    <select id="selectByExample" parameterType="com.examonline.common.entity.FSP_QuestionsExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from fsp_questions
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fsp_questions
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fsp_questions
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.examonline.common.entity.FSP_QuestionsExample">
        delete from fsp_questions
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.examonline.common.entity.FSP_Questions">
    insert into fsp_questions (id, question, question_type, 
      teacher_category_id, pubdate, descrpt, 
      option_1, option_1_answer, option_2, 
      option_2_answer, option_3, option_3_answer, 
      option_4, option_4_answer, option_5, 
      option_5_answer, state, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{question,jdbcType=VARCHAR}, #{questionType,jdbcType=INTEGER}, 
      #{teacherCategoryId,jdbcType=INTEGER}, #{pubdate,jdbcType=TIMESTAMP}, #{descrpt,jdbcType=VARCHAR}, 
      #{option1,jdbcType=VARCHAR}, #{option1Answer,jdbcType=VARCHAR}, #{option2,jdbcType=VARCHAR}, 
      #{option2Answer,jdbcType=VARCHAR}, #{option3,jdbcType=VARCHAR}, #{option3Answer,jdbcType=VARCHAR}, 
      #{option4,jdbcType=VARCHAR}, #{option4Answer,jdbcType=VARCHAR}, #{option5,jdbcType=VARCHAR}, 
      #{option5Answer,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.examonline.common.entity.FSP_Questions">
        insert into fsp_questions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="questionType != null">
                question_type,
            </if>
            <if test="teacherCategoryId != null">
                teacher_category_id,
            </if>
            <if test="pubdate != null">
                pubdate,
            </if>
            <if test="descrpt != null">
                descrpt,
            </if>
            <if test="option1 != null">
                option_1,
            </if>
            <if test="option1Answer != null">
                option_1_answer,
            </if>
            <if test="option2 != null">
                option_2,
            </if>
            <if test="option2Answer != null">
                option_2_answer,
            </if>
            <if test="option3 != null">
                option_3,
            </if>
            <if test="option3Answer != null">
                option_3_answer,
            </if>
            <if test="option4 != null">
                option_4,
            </if>
            <if test="option4Answer != null">
                option_4_answer,
            </if>
            <if test="option5 != null">
                option_5,
            </if>
            <if test="option5Answer != null">
                option_5_answer,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                #{questionType,jdbcType=INTEGER},
            </if>
            <if test="teacherCategoryId != null">
                #{teacherCategoryId,jdbcType=INTEGER},
            </if>
            <if test="pubdate != null">
                #{pubdate,jdbcType=TIMESTAMP},
            </if>
            <if test="descrpt != null">
                #{descrpt,jdbcType=VARCHAR},
            </if>
            <if test="option1 != null">
                #{option1,jdbcType=VARCHAR},
            </if>
            <if test="option1Answer != null">
                #{option1Answer,jdbcType=VARCHAR},
            </if>
            <if test="option2 != null">
                #{option2,jdbcType=VARCHAR},
            </if>
            <if test="option2Answer != null">
                #{option2Answer,jdbcType=VARCHAR},
            </if>
            <if test="option3 != null">
                #{option3,jdbcType=VARCHAR},
            </if>
            <if test="option3Answer != null">
                #{option3Answer,jdbcType=VARCHAR},
            </if>
            <if test="option4 != null">
                #{option4,jdbcType=VARCHAR},
            </if>
            <if test="option4Answer != null">
                #{option4Answer,jdbcType=VARCHAR},
            </if>
            <if test="option5 != null">
                #{option5,jdbcType=VARCHAR},
            </if>
            <if test="option5Answer != null">
                #{option5Answer,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.examonline.common.entity.FSP_QuestionsExample"
            resultType="java.lang.Long">
        select count(*) from fsp_questions
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update fsp_questions
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.question != null">
                question = #{record.question,jdbcType=VARCHAR},
            </if>
            <if test="record.questionType != null">
                question_type = #{record.questionType,jdbcType=INTEGER},
            </if>
            <if test="record.teacherCategoryId != null">
                teacher_category_id = #{record.teacherCategoryId,jdbcType=INTEGER},
            </if>
            <if test="record.pubdate != null">
                pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.descrpt != null">
                descrpt = #{record.descrpt,jdbcType=VARCHAR},
            </if>
            <if test="record.option1 != null">
                option_1 = #{record.option1,jdbcType=VARCHAR},
            </if>
            <if test="record.option1Answer != null">
                option_1_answer = #{record.option1Answer,jdbcType=VARCHAR},
            </if>
            <if test="record.option2 != null">
                option_2 = #{record.option2,jdbcType=VARCHAR},
            </if>
            <if test="record.option2Answer != null">
                option_2_answer = #{record.option2Answer,jdbcType=VARCHAR},
            </if>
            <if test="record.option3 != null">
                option_3 = #{record.option3,jdbcType=VARCHAR},
            </if>
            <if test="record.option3Answer != null">
                option_3_answer = #{record.option3Answer,jdbcType=VARCHAR},
            </if>
            <if test="record.option4 != null">
                option_4 = #{record.option4,jdbcType=VARCHAR},
            </if>
            <if test="record.option4Answer != null">
                option_4_answer = #{record.option4Answer,jdbcType=VARCHAR},
            </if>
            <if test="record.option5 != null">
                option_5 = #{record.option5,jdbcType=VARCHAR},
            </if>
            <if test="record.option5Answer != null">
                option_5_answer = #{record.option5Answer,jdbcType=VARCHAR},
            </if>
            <if test="record.state != null">
                state = #{record.state,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update fsp_questions
        set id = #{record.id,jdbcType=INTEGER},
        question = #{record.question,jdbcType=VARCHAR},
        question_type = #{record.questionType,jdbcType=INTEGER},
        teacher_category_id = #{record.teacherCategoryId,jdbcType=INTEGER},
        pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
        descrpt = #{record.descrpt,jdbcType=VARCHAR},
        option_1 = #{record.option1,jdbcType=VARCHAR},
        option_1_answer = #{record.option1Answer,jdbcType=VARCHAR},
        option_2 = #{record.option2,jdbcType=VARCHAR},
        option_2_answer = #{record.option2Answer,jdbcType=VARCHAR},
        option_3 = #{record.option3,jdbcType=VARCHAR},
        option_3_answer = #{record.option3Answer,jdbcType=VARCHAR},
        option_4 = #{record.option4,jdbcType=VARCHAR},
        option_4_answer = #{record.option4Answer,jdbcType=VARCHAR},
        option_5 = #{record.option5,jdbcType=VARCHAR},
        option_5_answer = #{record.option5Answer,jdbcType=VARCHAR},
        state = #{record.state,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.examonline.common.entity.FSP_Questions">
        update fsp_questions
        <set>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                question_type = #{questionType,jdbcType=INTEGER},
            </if>
            <if test="teacherCategoryId != null">
                teacher_category_id = #{teacherCategoryId,jdbcType=INTEGER},
            </if>
            <if test="pubdate != null">
                pubdate = #{pubdate,jdbcType=TIMESTAMP},
            </if>
            <if test="descrpt != null">
                descrpt = #{descrpt,jdbcType=VARCHAR},
            </if>
            <if test="option1 != null">
                option_1 = #{option1,jdbcType=VARCHAR},
            </if>
            <if test="option1Answer != null">
                option_1_answer = #{option1Answer,jdbcType=VARCHAR},
            </if>
            <if test="option2 != null">
                option_2 = #{option2,jdbcType=VARCHAR},
            </if>
            <if test="option2Answer != null">
                option_2_answer = #{option2Answer,jdbcType=VARCHAR},
            </if>
            <if test="option3 != null">
                option_3 = #{option3,jdbcType=VARCHAR},
            </if>
            <if test="option3Answer != null">
                option_3_answer = #{option3Answer,jdbcType=VARCHAR},
            </if>
            <if test="option4 != null">
                option_4 = #{option4,jdbcType=VARCHAR},
            </if>
            <if test="option4Answer != null">
                option_4_answer = #{option4Answer,jdbcType=VARCHAR},
            </if>
            <if test="option5 != null">
                option_5 = #{option5,jdbcType=VARCHAR},
            </if>
            <if test="option5Answer != null">
                option_5_answer = #{option5Answer,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.examonline.common.entity.FSP_Questions">
    update fsp_questions
    set question = #{question,jdbcType=VARCHAR},
      question_type = #{questionType,jdbcType=INTEGER},
      teacher_category_id = #{teacherCategoryId,jdbcType=INTEGER},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      descrpt = #{descrpt,jdbcType=VARCHAR},
      option_1 = #{option1,jdbcType=VARCHAR},
      option_1_answer = #{option1Answer,jdbcType=VARCHAR},
      option_2 = #{option2,jdbcType=VARCHAR},
      option_2_answer = #{option2Answer,jdbcType=VARCHAR},
      option_3 = #{option3,jdbcType=VARCHAR},
      option_3_answer = #{option3Answer,jdbcType=VARCHAR},
      option_4 = #{option4,jdbcType=VARCHAR},
      option_4_answer = #{option4Answer,jdbcType=VARCHAR},
      option_5 = #{option5,jdbcType=VARCHAR},
      option_5_answer = #{option5Answer,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>